
Section 4 - Getting Started with C\#/loops/.vs/loops/DesignTimeBuild/.dtbcache.v2
Section 4 - Getting Started with C\#/loops/.vs/loops/FileContentIndex/d6b1ed59-adbe-42f4-a78f-4d0c5bda580a.vsidx
Section 4 - Getting Started with C\#/loops/.vs/loops/v17/.futdcache.v2
Section 4 - Getting Started with C\#/loops/.vs/loops/FileContentIndex/read.lock
Section 4 - Getting Started with C\#/loops/.vs/ProjectEvaluation/loops.metadata.v5.1
Section 4 - Getting Started with C\#/loops/.vs/ProjectEvaluation/loops.projects.v5.1
